.loader {
  position: relative;
  top: 100px;
}
h4 {
  text-align: center;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
form > * {
  margin: 5px;
  height: 25px;
}
input {
  text-align: right;
  font-size: 14px;
}
button:hover {
  cursor: pointer;
}
button {
  min-height: 25px;
  font-size: 14px;
}
